td, th {
  border: 2px solid rgb(32, 31, 31);
  padding: 10px;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(153, 151, 151);
}

th[scope="col"] {
  background-color: rgb(153, 151, 151);
  color: rgb(179, 178, 178);
}

caption {
  padding: 10px;
  caption-side: bottom;
}